/*Barra de navegacio */

.navbar {
  padding: 2rem;
  background-color: #beb7a4;
  height: 75px;
  font-size: large;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/*Adaptable (Responsivo)*/

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 400px){
  .overlay p {
    font-size: 18px;
  }
  
  .overlay i {
    font-size: 40px;
  }
}

main {
  background-color: #e6af2e;
  padding-bottom: 20px;
}

/* Estilos generales*/

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Rubik Dirt', cursive;
}

h2 {
  font-family: 'Rubik Dirt', cursive;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
}

.seccion-clara {
  color: black;
  background-color: white;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Proyectos */

.proyectos-recientes {
  padding: 40px;
  background-color: #e6af2e;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor{
  display: flex;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}

/* Footer */
footer {
  background-color: #beb7a4;
  min-height: 300px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50px;
  transition: all 0.2s ease-in; 
}

.iconos-redes-sociales i{
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a :hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}
.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: black;
  padding: 20px;
}